@charset "UTF-8";
* {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffffe0;
}

.main-inicio {
  height: 100vh;
}
.main-inicio .inicio-titulo-container {
  border: 5px solid #3D3C3C;
  width: max-content;
  margin: 4rem auto;
  background-color: #000;
}
.main-inicio .inicio-titulo-container .inicio-titulo {
  font-size: 5rem;
  font-family: "The Amsterdam", sans-serif;
  margin: 2rem 0rem 1rem 0;
  padding: 0 1rem;
  color: #fff;
}
.main-inicio .inicio-titulo-container .inicio-sub-titulo {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
  color: #918e8e;
}
.main-inicio .search-bar-input {
  width: 30rem;
}

@media (max-width: 768px) {
  .main-inicio .inicio-titulo-container {
    width: 95vw;
  }
  .main-inicio .inicio-titulo-container .inicio-titulo {
    font-size: 15vw;
  }
  .main-inicio .inicio-titulo-container .inicio-sub-titulo {
    font-size: 8vw;
  }
  .main-inicio .search-bar-input {
    width: 80vw;
  }
}
.contacto-left iframe {
  border: 10px solid lightgrey;
  margin-left: 6vw;
}
.contacto-left .contacto-left-titulo {
  margin: 1rem;
  text-decoration: underline 2px double;
}

.contacto-right {
  margin: 4rem 6vw 4rem 0;
  border: 15px double lightgrey;
  background-color: #fdbf39;
}
.contacto-right .contacto-right-titulo {
  margin-top: 1rem;
}
.contacto-right form input, .contacto-right form .form-select, .contacto-right form button, .contacto-right form textarea {
  background-color: #000;
  color: #fff;
  margin: 1rem;
}
.contacto-right form button {
  margin-bottom: 1rem;
  height: 2rem;
  width: 4rem;
}
.contacto-right form button:hover {
  background-color: lightgrey;
  color: #000;
  transition: 0.5s;
}
.contacto-right form .numero input, .contacto-right form .numero .form-select, .contacto-right form .numero textarea, .contacto-right form .numero button {
  width: 24.5rem;
}
.contacto-right form .email input, .contacto-right form .email .form-select, .contacto-right form .email textarea, .contacto-right form .email button {
  width: 24.5rem;
}
.contacto-right form .form-select {
  width: 24.5rem;
  background-color: beige;
  color: #000;
}

@media (max-width: 768px) {
  .contacto-container {
    flex-direction: column-reverse;
    margin-top: 3rem;
  }
  .contacto-container .contacto-left iframe {
    width: 95vw;
    height: 95vw;
    margin: 0 0 2rem 0;
  }
  .contacto-container .contacto-right {
    margin: 0;
  }
  .contacto-container .contacto-right form div {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .contacto-container .contacto-right form div input, .contacto-container .contacto-right form div textarea, .contacto-container .contacto-right form div button, .contacto-container .contacto-right form div .form-select {
    width: 60vw;
  }
  .contacto-container .contacto-right form div textarea {
    width: 80vw;
  }
  .contacto-container .contacto-right form div button {
    width: 50vw;
    height: 10vh;
  }
  .contacto-container .contacto-right form div .numero input, .contacto-container .contacto-right form div .numero textarea, .contacto-container .contacto-right form div .numero button, .contacto-container .contacto-right form div .numero .form-select {
    width: 80vw;
  }
  .contacto-container .contacto-right form div .email input, .contacto-container .contacto-right form div .email textarea, .contacto-container .contacto-right form div .email button, .contacto-container .contacto-right form div .email .form-select {
    width: 80vw;
  }
  .contacto-container .contacto-right form div .form-select {
    width: 80vw;
  }
  .contacto-container .contacto-right .persona {
    flex-direction: column;
  }
}
.nosotros-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.nosotros-titulo h1 {
  font-size: 4rem;
  background-color: goldenrod;
  padding: 1rem;
  border: 1rem double lightgray;
  border-radius: 40%;
}

.nosotros-container {
  display: flex;
  justify-content: space-between;
}
.nosotros-container .nosotros-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  margin: 5rem 0rem;
}
.nosotros-container .nosotros-left .nosotros-left-video iframe {
  border: 6px solid darkgrey;
}
.nosotros-container .nosotros-left .nosotros-left-container {
  margin: 4rem 0 0 0;
}
.nosotros-container .nosotros-left .nosotros-left-container .nosotros-left-maps h3 {
  text-align: center;
  text-decoration: underline solid #000;
}
.nosotros-container .nosotros-left .nosotros-left-container .nosotros-left-reseña h4 {
  text-decoration: underline solid #000;
  text-align: center;
}
.nosotros-container .nosotros-left .nosotros-left-container .nosotros-left-reseña img {
  width: 20rem;
  margin: 2rem;
  border: 3px solid darkgrey;
}
.nosotros-container .nosotros-right {
  width: 40vw;
  margin: 5rem 5rem 0 0;
}
.nosotros-container .nosotros-right .nosotros-right-text1 {
  padding: 1rem;
  border: 5px solid goldenrod;
  border-radius: 10%;
  background-color: beige;
}
.nosotros-container .nosotros-right .nosotros-right-text1 h3 {
  text-decoration: underline solid #000;
  text-align: center;
  margin-bottom: 3rem;
}
.nosotros-container .nosotros-right .nosotros-right-text1 p {
  text-align: center;
}
.nosotros-container .nosotros-right .rocio-background {
  padding: 2rem 0;
  border-radius: 10%;
}
.nosotros-container .nosotros-right .rocio-background .rocio-container {
  margin-bottom: 2rem;
  border: 5px solid goldenrod;
  border-radius: 10%;
  background-color: beige;
}
.nosotros-container .nosotros-right .rocio-background .rocio-container .rocio-imagen img {
  width: 15rem;
  border-radius: 100%;
  border: 3px solid #000;
  margin: 1rem 1rem;
}
.nosotros-container .nosotros-right .rocio-background .rocio-container .rocio-list {
  margin-top: 1rem;
}
.nosotros-container .nosotros-right .rocio-background .rocio-container .rocio-list .rocio-items-nombre {
  list-style: none;
}
.nosotros-container .nosotros-right .rocio-background .rocio-container .rocio-list .rocio-items {
  margin-bottom: 0.5rem;
}
.nosotros-container .nosotros-right .rocio-background .rocio-container .rocio-list .rocio-items a {
  text-decoration: none;
  color: goldenrod;
  font-size: 2rem;
}
.nosotros-container .nosotros-right .rocio-background .rocio-container .rocio-list .rocio-items a :hover {
  color: gold;
  transition: 0.5s;
}
.nosotros-container .nosotros-right .rocio-background .rocio-container .rocio-list .rocio-ul li {
  margin: 0 0.5rem 0.5rem 0;
}
.nosotros-container .nosotros-right .rocio-background .rocio-container .paula {
  margin: 0;
}

@media (max-width: 768px) {
  .nosotros-titulo h1 {
    font-size: 11vw;
  }
  .nosotros-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .nosotros-container .nosotros-left .nosotros-left-video iframe {
    width: 90vw;
    height: 30vh;
  }
  .nosotros-container .nosotros-left .nosotros-left-container {
    flex-direction: column;
  }
  .nosotros-container .nosotros-left .nosotros-left-container .nosotros-left-reseña img {
    width: 90vw;
    height: 20vh;
    margin: 1rem 0;
  }
  .nosotros-container .nosotros-left .nosotros-left-container .nosotros-left-maps iframe {
    width: 90vw;
    height: 40vh;
  }
  .nosotros-container .nosotros-right {
    margin: 0;
    width: 90vw;
  }
  .nosotros-container .nosotros-right .nosotros-right-text1 {
    margin: 0;
  }
  .nosotros-container .nosotros-right .nosotros-right-text1 h3 {
    margin: 2rem 0;
  }
  .nosotros-container .nosotros-right .rocio-container {
    flex-direction: column;
    align-items: center;
  }
}
.testimonios-main {
  background: linear-gradient(#82DCFF, lightyellow);
}
.testimonios-main .testimonios-layout {
  margin: auto;
}
.testimonios-main .testimonios-layout .aside {
  width: 50%;
  padding-top: 42rem;
}
.testimonios-main .testimonios-layout .carousel-container {
  display: flex;
  align-items: center;
}
.testimonios-main .testimonios-layout .carousel-container .carousel-item img {
  width: 70rem;
  border-radius: 15%;
  border: 6px solid lightyellow;
}
.testimonios-main .testimonios-layout .carousel-container .carousel-iconos {
  background-color: #000;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .testimonios-layout .carousel-container .carousel-inner {
    width: 94vw;
  }
  .testimonios-layout .carousel-container .carousel-inner .carousel-item img {
    display: flex;
    position: relative;
    right: 4rem;
    width: 128vw;
    height: 100vh;
    object-fit: fill;
  }
}
.tramites-titulo {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
.tramites-titulo h1 {
  font-size: 5rem;
}

.tramite-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.tramite-container .tramite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.tramite-container .tramite h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  text-align: center;
}
.tramite-container .tramite img {
  width: 7rem;
  margin-bottom: 1rem;
  border: 3px solid #000;
  border-radius: 15%;
}
.tramite-container .tramite img:hover {
  transform: rotate(360deg);
  transition: 1s;
}

@media (max-width: 768px) {
  .tramites-titulo {
    width: 80vw;
    margin: 2rem 0 2rem 2rem;
  }
  .tramites-titulo h1 {
    font-size: 4rem;
  }
}
header {
  position: sticky;
  top: -1px;
  border-bottom: 1px solid #fff;
  z-index: 3;
}
header nav {
  background-color: #000;
  opacity: 0.9;
}
header nav img {
  width: 7rem;
  height: 4rem;
}
header nav .navbar-collapse {
  display: flex;
  justify-content: end;
}
header nav .navbar-collapse .navbar-nav li {
  margin: 0 1rem;
  font-size: 1.3rem;
}
header nav .navbar-collapse .navbar-nav li .nav-link {
  color: #fff;
}
header nav .navbar-collapse .navbar-nav li .nav-link.activo, header nav .navbar-collapse .navbar-nav li .nav-link:hover {
  color: goldenrod;
}
header nav .navbar-toggler-icon {
  filter: brightness(700%);
  width: 2rem;
}

footer {
  background-color: #000;
  border-top: 1px solid #fff;
}
footer .whatsapp {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
footer .whatsapp img {
  width: 3rem;
}
footer .social-media-icon {
  list-style: none;
}
footer .social-media-icon img {
  width: 3rem;
  border-radius: 100%;
  background-color: #000;
  margin-top: 1rem;
}
footer .copy {
  font-size: 1.5rem;
  color: goldenrod;
}

@media (max-width: 768px) {
  div .copy {
    font-size: 1.2rem;
    position: relative;
    left: -2rem;
    padding-right: 3rem;
  }
  div .social-media {
    position: relative;
    left: -1.5rem;
  }
  div .social-media .social-media-icon img {
    width: 3.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
