
@mixin fondo($color, $fColor){
    background-color: $color;
    color: $fColor;
}
$fondo-amarillo:#fdbf39;

.contacto-left{
    iframe{
        border: 10px solid lightgrey;
        margin-left: 6vw;
    }
    .contacto-left-titulo{
        margin: 1rem;
        text-decoration: underline 2px double; 
    }
}  
.contacto-right{
    margin: 4rem 6vw 4rem 0 ;
    border: 15px double lightgrey;
    background-color: $fondo-amarillo;
        .contacto-right-titulo{
            margin-top: 1rem
        }
        form{
                input{
                    @include fondo(#000,#fff);
                    margin: 1rem;
                }
                textarea{
                    @extend input;
                }
                button{
                    @extend input;
                    margin-bottom: 1rem;
                    height: 2rem;
                    width: 4rem;
                }
                button{
                    &:hover{
                        background-color: lightgrey;
                        color: #000;
                        transition: .5s;
                    }
                }
                .numero input{
                    width: 24.5rem; 
                }
                .email input{
                  width: 24.5rem; 
                }
                .form-select{
                    width: 24.5rem;
                    @extend input;
                    @include fondo(beige,#000)
                }
        }
}

@media (max-width: 768px){
    .contacto-container{
        flex-direction: column-reverse;
        margin-top: 3rem;
            .contacto-left iframe{
                width: 95vw;
                height: 95vw;
                margin: 0 0 2rem 0;
            }
            .contacto-right{
                margin: 0;
                    form div{
                        margin: 0;
                        display: flex;
                        justify-content: center;
                            input{
                                width: 60vw;
                            }
                            textarea{
                                width: 80vw;
                            }
                            button{
                                width: 50vw;
                                height: 10vh;
                            }
                            .numero input{
                                width: 80vw;
                            }
                            .email input{
                                width: 80vw;
                            }
                            .form-select{
                                width: 80vw;
                            }
                    }
                    .persona{
                        flex-direction: column;
                    }
            }
    }
}